<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container"> 
<!--        <a class="navbar-brand" href="/"><span><img src="/assets/logos/Iris-hep-4-no-long-name.png" alt="IRIS-HEP logo" height="58.5px" width="109px"></span></a> -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/">Home</a>
                        <a class="dropdown-item" href="/about/project">Projects</a>
                        <a class="dropdown-item" href="/about/team">Team</a>
                        <a class="dropdown-item" href="/about/RelatedProjects">Related projects</a>
                        <a class="dropdown-item" href="/about/Links">Compiler links</a>
                        <a class="dropdown-item" href="/sitemap">Sitemap</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
